@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-7">C#-Projekt</h1>
    <h2 class="display-6">Anzeigen und verwalten von Büchern aus einer Datenbank</h2>
    @Html.ActionLink("Bücher anzeigen", "Index", "Books")
</div>
